In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/data2.csv")
df.head()

,Unnamed: 0.1,Unnamed: 0,date,time,round,day,venue,result,gf,ga,...,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling,home_code
0,0,6,2017-09-17,13:30,Matchweek 5,Sun,Away,D,0.0,0.0,...,6,2.333333,2.333333,17.333333,6.333333,17.300000,0.333333,0.0,0.0,0
1,1,10,2017-10-01,12:00,Matchweek 7,Sun,Home,W,2.0,0.0,...,6,1.000000,1.333333,12.000000,3.666667,16.566667,0.333333,0.0,0.0,0
2,2,13,2017-10-22,13:30,Matchweek 9,Sun,Away,W,5.0,2.0,...,6,1.666667,0.000000,17.666667,6.333333,17.166667,1.000000,0.0,0.0,0
3,3,17,2017-11-05,14:15,Matchweek 11,Sun,Away,L,1.0,3.0,...,6,2.333333,0.666667,22.000000,8.000000,17.500000,1.333333,0.0,0.0,0
4,4,18,2017-11-18,12:30,Matchweek 12,Sat,Home,W,2.0,0.0,...,5,2.666667,1.666667,20.333333,8.333333,18.500000,1.666667,0.0,0.0,0

In [3]:
del df["Unnamed: 0.1"]

In [4]:
del df["Unnamed: 0"]

In [5]:
df["day_code"].unique()

array([6, 5, 2, 4, 3, 0, 1], dtype=int64)

In [6]:
df = df.drop(columns=["time", "day", "result", "opponent", "captain", "referee", "match report", "attendance"])
df

,date,round,venue,gf,ga,xg,xga,poss,formation,sh,...,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling,home_code
0,2017-09-17,Matchweek 5,Away,0.0,0.0,1.4,0.8,49.0,3-4-3,11.0,...,6,2.333333,2.333333,17.333333,6.333333,17.300000,0.333333,0.0,0.0,0
1,2017-10-01,Matchweek 7,Home,2.0,0.0,2.4,0.4,64.0,3-4-3,25.0,...,6,1.000000,1.333333,12.000000,3.666667,16.566667,0.333333,0.0,0.0,0
2,2017-10-22,Matchweek 9,Away,5.0,2.0,3.5,1.0,67.0,3-4-3,30.0,...,6,1.666667,0.000000,17.666667,6.333333,17.166667,1.000000,0.0,0.0,0
3,2017-11-05,Matchweek 11,Away,1.0,3.0,0.3,1.8,43.0,3-4-3,6.0,...,6,2.333333,0.666667,22.000000,8.000000,17.500000,1.333333,0.0,0.0,0
4,2017-11-18,Matchweek 12,Home,2.0,0.0,2.1,0.7,43.0,3-4-3,14.0,...,5,2.666667,1.666667,20.333333,8.333333,18.500000,1.666667,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2953,2023-03-12,Matchweek 27,Away,1.0,2.0,1.1,1.8,57.0,4-2-3-1,7.0,...,6,0.666667,1.000000,6.666667,2.666667,16.700000,0.000000,0.0,0.0,19
2954,2023-03-18,Matchweek 28,Home,2.0,4.0,2.7,1.6,65.0,4-3-3,23.0,...,5,0.666667,1.333333,6.333333,3.333333,17.166667,0.333333,0.0,0.0,19
2955,2023-04-01,Matchweek 29,Away,1.0,1.0,0.5,1.3,71.0,4-2-3-1,8.0,...,5,1.333333,2.000000,12.666667,5.666667,18.866667,0.666667,0.0,0.0,19
2956,2023-04-08,Matchweek 30,Home,1.0,0.0,0.6,1.1,38.0,4-4-2,9.0,...,5,1.333333,2.333333,12.666667,4.333333,17.600000,0.666667,0.0,0.0,19
2957,2023-04-15,Matchweek 31,Home,2.0,0.0,0.8,1.1,50.0,4-4-2,11.0,...,5,1.333333,1.666667,13.333333,4.333333,19.166667,0.333333,0.0,0.0,19

In [7]:
df["formation"] = df["formation"].astype("category").cat.codes

In [8]:
df[df["formation"] == 5]

,date,round,venue,gf,ga,xg,xga,poss,formation,sh,...,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling,home_code
1807,2020-12-26,Matchweek 15,Home,2.0,0.0,3.0,0.3,74.0,5,11.0,...,5,1.0,0.0,11.333333,3.666667,18.1,0.333333,0.333333,0.333333,12

In [9]:
df["round"] = df["round"].astype("category").cat.codes

In [10]:
df["round"].unique()

array([33, 35, 37,  2,  3,  6,  7,  8,  9, 10, 12, 14, 15, 16, 18, 19, 20,
       21, 26, 27, 28, 29, 24,  0, 11, 22, 34, 36,  1,  4,  5, 13, 17, 23,
       25, 30, 32, 31], dtype=int8)

In [11]:
df["round"].value_counts()

7     88
1     86
13    86
8     86
36    85
35    85
14    84
21    84
19    84
15    84
10    84
3     84
2     84
12    82
34    82
16    82
9     82
23    82
6     82
4     82
17    82
24    81
18    80
5     80
37    80
33    79
20    76
32    72
22    70
11    68
0     66
28    66
26    66
27    65
31    64
25    63
30    62
29    60
Name: round, dtype: int64

In [12]:
df["venue"] = df["venue"].astype("category").cat.codes
df["venue"].value_counts()

1    1481
0    1477
Name: venue, dtype: int64

In [13]:
target_home = df.pop("target_home")
target_away = df.pop("target_away")
target_draw = df.pop("target_draw")

In [14]:
df.insert(len(df.columns), "target_away", target_away)
df.insert(len(df.columns), "target_draw", target_draw)
df.insert(len(df.columns), "target_home", target_home)

In [16]:
df["team"]

0       Arsenal
1       Arsenal
2       Arsenal
3       Arsenal
4       Arsenal
         ...
2953     Wolves
2954     Wolves
2955     Wolves
2956     Wolves
2957     Wolves
Name: team, Length: 2958, dtype: object

In [17]:
# df["team"] = df["team"].astype("category").cat.codes
# df["team"]
df["home_code"]

0        0
1        0
2        0
3        0
4        0
        ..
2953    19
2954    19
2955    19
2956    19
2957    19
Name: home_code, Length: 2958, dtype: int64

In [23]:
# df.to_csv("../data/data3.csv")

In [1]:
df.columns()

NameError: name 'df' is not defined

In [17]:
# Mengubah kolom date menjadi tipe data date
df['date'] = pd.to_datetime(df['date']).dt.date
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2958 entries, 0 to 2957
Data columns (total 32 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           2958 non-null   object
 1   round          2958 non-null   int8
 2   venue          2958 non-null   int8
 3   gf             2958 non-null   float64
 4   ga             2958 non-null   float64
 5   xg             2958 non-null   float64
 6   xga            2958 non-null   float64
 7   poss           2958 non-null   float64
 8   formation      2958 non-null   int8
 9   sh             2958 non-null   float64
 10  sot            2958 non-null   float64
 11  dist           2956 non-null   float64
 12  fk             2958 non-null   float64
 13  pk             2958 non-null   float64
 14  pkatt          2958 non-null   float64
 15  season         2958 non-null   int64
 16  venue_code     2958 non-null   int64
 17  opp_code       2958 non-null   int64
 18  hour           2958 non-null   int64
 19  day_code       2958 non-null   int64
 20  gf_rolling     2958 non-null   float64
 21  ga_rolling     2958 non-null   float64
 22  sh_rolling     2958 non-null   float64
 23  sot_rolling    2958 non-null   float64
 24  dist_rolling   2958 non-null   float64
 25  fk_rolling     2958 non-null   float64
 26  pk_rolling     2958 non-null   float64
 27  pkatt_rolling  2958 non-null   float64
 28  home_code      2958 non-null   int64
 29  target_away    2958 non-null   int64
 30  target_draw    2958 non-null   int64
 31  target_home    2958 non-null   int64
dtypes: float64(19), int64(9), int8(3), object(1)
memory usage: 679.0+ KB

In [18]:
df

,date,round,venue,gf,ga,xg,xga,poss,formation,sh,...,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling,home_code,target_away,target_draw,target_home
0,2017-09-17,33,0,0.0,0.0,1.4,0.8,49.0,4,11.0,...,17.333333,6.333333,17.300000,0.333333,0.0,0.0,0,0,1,0
1,2017-10-01,35,1,2.0,0.0,2.4,0.4,64.0,4,25.0,...,12.000000,3.666667,16.566667,0.333333,0.0,0.0,0,0,0,1
2,2017-10-22,37,0,5.0,2.0,3.5,1.0,67.0,4,30.0,...,17.666667,6.333333,17.166667,1.000000,0.0,0.0,0,0,0,1
3,2017-11-05,2,0,1.0,3.0,0.3,1.8,43.0,4,6.0,...,22.000000,8.000000,17.500000,1.333333,0.0,0.0,0,1,0,0
4,2017-11-18,3,1,2.0,0.0,2.1,0.7,43.0,4,14.0,...,20.333333,8.333333,18.500000,1.666667,0.0,0.0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2953,2023-03-12,19,0,1.0,2.0,1.1,1.8,57.0,12,7.0,...,6.666667,2.666667,16.700000,0.000000,0.0,0.0,19,1,0,0
2954,2023-03-18,20,1,2.0,4.0,2.7,1.6,65.0,15,23.0,...,6.333333,3.333333,17.166667,0.333333,0.0,0.0,19,1,0,0
2955,2023-04-01,21,0,1.0,1.0,0.5,1.3,71.0,12,8.0,...,12.666667,5.666667,18.866667,0.666667,0.0,0.0,19,0,1,0
2956,2023-04-08,23,1,1.0,0.0,0.6,1.1,38.0,17,9.0,...,12.666667,4.333333,17.600000,0.666667,0.0,0.0,19,0,0,1
2957,2023-04-15,24,1,2.0,0.0,0.8,1.1,50.0,17,11.0,...,13.333333,4.333333,19.166667,0.333333,0.0,0.0,19,0,0,1

In [19]:
del df["season"]
del df["target_draw"]
del df["target_away"]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2958 entries, 0 to 2957
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           2958 non-null   object
 1   round          2958 non-null   int8
 2   venue          2958 non-null   int8
 3   gf             2958 non-null   float64
 4   ga             2958 non-null   float64
 5   xg             2958 non-null   float64
 6   xga            2958 non-null   float64
 7   poss           2958 non-null   float64
 8   formation      2958 non-null   int8
 9   sh             2958 non-null   float64
 10  sot            2958 non-null   float64
 11  dist           2956 non-null   float64
 12  fk             2958 non-null   float64
 13  pk             2958 non-null   float64
 14  pkatt          2958 non-null   float64
 15  venue_code     2958 non-null   int64
 16  opp_code       2958 non-null   int64
 17  hour           2958 non-null   int64
 18  day_code       2958 non-null   int64
 19  gf_rolling     2958 non-null   float64
 20  ga_rolling     2958 non-null   float64
 21  sh_rolling     2958 non-null   float64
 22  sot_rolling    2958 non-null   float64
 23  dist_rolling   2958 non-null   float64
 24  fk_rolling     2958 non-null   float64
 25  pk_rolling     2958 non-null   float64
 26  pkatt_rolling  2958 non-null   float64
 27  home_code      2958 non-null   int64
 28  target_home    2958 non-null   int64
dtypes: float64(19), int64(6), int8(3), object(1)
memory usage: 609.6+ KB

In [20]:
df

,date,round,venue,gf,ga,xg,xga,poss,formation,sh,...,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling,home_code,target_home
0,2017-09-17,33,0,0.0,0.0,1.4,0.8,49.0,4,11.0,...,2.333333,2.333333,17.333333,6.333333,17.300000,0.333333,0.0,0.0,0,0
1,2017-10-01,35,1,2.0,0.0,2.4,0.4,64.0,4,25.0,...,1.000000,1.333333,12.000000,3.666667,16.566667,0.333333,0.0,0.0,0,1
2,2017-10-22,37,0,5.0,2.0,3.5,1.0,67.0,4,30.0,...,1.666667,0.000000,17.666667,6.333333,17.166667,1.000000,0.0,0.0,0,1
3,2017-11-05,2,0,1.0,3.0,0.3,1.8,43.0,4,6.0,...,2.333333,0.666667,22.000000,8.000000,17.500000,1.333333,0.0,0.0,0,0
4,2017-11-18,3,1,2.0,0.0,2.1,0.7,43.0,4,14.0,...,2.666667,1.666667,20.333333,8.333333,18.500000,1.666667,0.0,0.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2953,2023-03-12,19,0,1.0,2.0,1.1,1.8,57.0,12,7.0,...,0.666667,1.000000,6.666667,2.666667,16.700000,0.000000,0.0,0.0,19,0
2954,2023-03-18,20,1,2.0,4.0,2.7,1.6,65.0,15,23.0,...,0.666667,1.333333,6.333333,3.333333,17.166667,0.333333,0.0,0.0,19,0
2955,2023-04-01,21,0,1.0,1.0,0.5,1.3,71.0,12,8.0,...,1.333333,2.000000,12.666667,5.666667,18.866667,0.666667,0.0,0.0,19,0
2956,2023-04-08,23,1,1.0,0.0,0.6,1.1,38.0,17,9.0,...,1.333333,2.333333,12.666667,4.333333,17.600000,0.666667,0.0,0.0,19,1
2957,2023-04-15,24,1,2.0,0.0,0.8,1.1,50.0,17,11.0,...,1.333333,1.666667,13.333333,4.333333,19.166667,0.333333,0.0,0.0,19,1

In [21]:
df.to_csv("../data/masterdata.csv")

In [32]:
train = df[df["season"] < '2021']
test = df[df["season"] > '2021']

In [33]:
train

,round,venue,gf,ga,xg,xga,poss,formation,sh,sot,...,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling,home_code,target_away,target_draw,target_home
0,33,0,0.0,0.0,1.4,0.8,49.0,4,11.0,2.0,...,17.333333,6.333333,17.300000,0.333333,0.0,0.0,0,0,1,0
1,35,1,2.0,0.0,2.4,0.4,64.0,4,25.0,8.0,...,12.000000,3.666667,16.566667,0.333333,0.0,0.0,0,0,0,1
2,37,0,5.0,2.0,3.5,1.0,67.0,4,30.0,14.0,...,17.666667,6.333333,17.166667,1.000000,0.0,0.0,0,0,0,1
3,2,0,1.0,3.0,0.3,1.8,43.0,4,6.0,3.0,...,22.000000,8.000000,17.500000,1.333333,0.0,0.0,0,1,0,0
4,3,1,2.0,0.0,2.1,0.7,43.0,4,14.0,5.0,...,20.333333,8.333333,18.500000,1.666667,0.0,0.0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2890,24,0,1.0,0.0,0.5,0.9,50.0,12,7.0,3.0,...,13.333333,4.000000,16.033333,0.666667,0.0,0.0,19,0,0,1
2891,28,1,2.0,1.0,1.1,0.3,61.0,12,16.0,6.0,...,12.333333,4.333333,15.200000,0.666667,0.0,0.0,19,0,0,1
2892,29,0,0.0,2.0,0.9,3.2,38.0,12,15.0,3.0,...,14.333333,4.666667,17.000000,0.666667,0.0,0.0,19,1,0,0
2893,30,0,0.0,1.0,0.3,0.7,59.0,3,9.0,3.0,...,12.666667,4.000000,17.666667,0.666667,0.0,0.0,19,1,0,0
2894,31,1,1.0,2.0,0.9,2.0,57.0,7,14.0,4.0,...,13.333333,4.000000,19.866667,0.333333,0.0,0.0,19,1,0,0

In [34]:
test

,round,venue,gf,ga,xg,xga,poss,formation,sh,sot,...,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling,home_code,target_away,target_draw,target_home
147,0,0,2.0,0.0,1.0,1.2,44.0,15,10.0,2.0,...,15.000000,5.000000,20.700000,0.000000,0.333333,0.333333,0,0,0,1
148,11,1,4.0,2.0,2.7,0.5,50.0,15,19.0,7.0,...,15.333333,4.000000,17.566667,0.333333,0.333333,0.333333,0,0,0,1
149,22,0,3.0,0.0,1.3,0.3,57.0,15,14.0,6.0,...,18.000000,5.666667,14.866667,0.333333,0.333333,0.333333,0,0,0,1
150,32,1,2.0,1.0,2.6,0.8,71.0,15,22.0,8.0,...,14.333333,5.000000,14.133333,0.333333,0.000000,0.000000,0,0,0,1
151,33,1,2.0,1.0,2.4,0.4,59.0,15,22.0,8.0,...,18.333333,7.000000,14.433333,0.333333,0.000000,0.000000,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2953,19,0,1.0,2.0,1.1,1.8,57.0,12,7.0,4.0,...,6.666667,2.666667,16.700000,0.000000,0.000000,0.000000,19,1,0,0
2954,20,1,2.0,4.0,2.7,1.6,65.0,15,23.0,8.0,...,6.333333,3.333333,17.166667,0.333333,0.000000,0.000000,19,1,0,0
2955,21,0,1.0,1.0,0.5,1.3,71.0,12,8.0,1.0,...,12.666667,5.666667,18.866667,0.666667,0.000000,0.000000,19,0,1,0
2956,23,1,1.0,0.0,0.6,1.1,38.0,17,9.0,4.0,...,12.666667,4.333333,17.600000,0.666667,0.000000,0.000000,19,0,0,1
2957,24,1,2.0,0.0,0.8,1.1,50.0,17,11.0,9.0,...,13.333333,4.333333,19.166667,0.333333,0.000000,0.000000,19,0,0,1

In [35]:
train.to_csv("../data/traindata.csv")

In [36]:
test.to_csv("../data/testdata.csv")