In [1]:
import pandas as pd
import numpy as np

In [2]:
df_kotor = pd.read_csv("../data/matchestill2018.csv")

In [3]:
df_kotor

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,0,2022-08-05,20:00,Premier League,Matchweek 1,Fri,Away,W,2.0,0.0,...,Match Report,NaN,10.0,2.0,14.6,1.0,0.0,0.0,2022,Arsenal
1,1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,2.0,...,Match Report,NaN,19.0,7.0,13.0,0.0,0.0,0.0,2022,Arsenal
2,2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,0.0,...,Match Report,NaN,14.0,6.0,14.8,0.0,0.0,0.0,2022,Arsenal
3,3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2.0,1.0,...,Match Report,NaN,22.0,8.0,15.5,1.0,0.0,0.0,2022,Arsenal
4,4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,...,Match Report,NaN,22.0,8.0,16.3,1.0,0.0,0.0,2022,Arsenal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4407,38,2018-04-15,16:00,Premier League,Matchweek 34,Sun,Away,W,1.0,0.0,...,Match Report,NaN,10.0,4.0,18.1,0.0,0.0,0.0,2017,West Bromwich Albion
4408,39,2018-04-21,12:30,Premier League,Matchweek 35,Sat,Home,D,2.0,2.0,...,Match Report,NaN,13.0,6.0,17.7,0.0,0.0,0.0,2017,West Bromwich Albion
4409,40,2018-04-28,15:00,Premier League,Matchweek 36,Sat,Away,W,1.0,0.0,...,Match Report,NaN,9.0,2.0,20.1,0.0,0.0,0.0,2017,West Bromwich Albion
4410,41,2018-05-05,15:00,Premier League,Matchweek 37,Sat,Home,W,1.0,0.0,...,Match Report,NaN,9.0,1.0,10.2,0.0,0.0,0.0,2017,West Bromwich Albion
4411,42,2018-05-13,15:00,Premier League,Matchweek 38,Sun,Away,L,0.0,2.0,...,Match Report,NaN,7.0,1.0,24.8,1.0,0.0,0.0,2017,West Bromwich Albion

In [5]:
df_kotor["round"].unique()

array(['Matchweek 1', 'Matchweek 2', 'Matchweek 3', 'Matchweek 4',
       'Matchweek 5', 'Matchweek 6', 'Matchweek 8', 'Matchweek 9',
       'Matchweek 10', 'Matchweek 11', 'Matchweek 13', 'Matchweek 14',
       'Matchweek 15', 'Matchweek 16', 'Matchweek 17', 'Matchweek 18',
       'Matchweek 19', 'Matchweek 20', 'Matchweek 21', 'Matchweek 22',
       'Matchweek 23', 'Matchweek 12', 'Matchweek 24', 'Matchweek 25',
       'Matchweek 7', 'Matchweek 26', 'Matchweek 27', 'Matchweek 28',
       'Matchweek 29', 'Matchweek 30', 'Matchweek 31', 'Matchweek 32',
       'Matchweek 34', 'Matchweek 35', 'Matchweek 36', 'Matchweek 33',
       'Matchweek 37', 'Matchweek 38'], dtype=object)

In [7]:
df_kotor.columns

Index(['Unnamed: 0', 'date', 'time', 'comp', 'round', 'day', 'venue', 'result',
       'gf', 'ga', 'opponent', 'xg', 'xga', 'poss', 'attendance', 'captain',
       'formation', 'referee', 'match report', 'notes', 'sh', 'sot', 'dist',
       'fk', 'pk', 'pkatt', 'season', 'team'],
      dtype='object')

In [5]:
df_kotor["comp"]

0       Premier League
1       Premier League
2       Premier League
3       Premier League
4       Premier League
             ...
4407    Premier League
4408    Premier League
4409    Premier League
4410    Premier League
4411    Premier League
Name: comp, Length: 4412, dtype: object

In [4]:
del df_kotor["comp"]

In [5]:
del df_kotor["notes"]

In [6]:
df_kotor["date"] = pd.to_datetime(df_kotor["date"])

In [7]:
df_kotor["target_home"] = (df_kotor["result"] == "W").astype("int")

In [8]:
df_kotor

,Unnamed: 0,date,time,round,day,venue,result,gf,ga,opponent,...,match report,sh,sot,dist,fk,pk,pkatt,season,team,target_home
0,0,2022-08-05,20:00,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,...,Match Report,10.0,2.0,14.6,1.0,0.0,0.0,2022,Arsenal,1
1,1,2022-08-13,15:00,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,...,Match Report,19.0,7.0,13.0,0.0,0.0,0.0,2022,Arsenal,1
2,2,2022-08-20,17:30,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,...,Match Report,14.0,6.0,14.8,0.0,0.0,0.0,2022,Arsenal,1
3,3,2022-08-27,17:30,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,Match Report,22.0,8.0,15.5,1.0,0.0,0.0,2022,Arsenal,1
4,4,2022-08-31,19:30,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,Match Report,22.0,8.0,16.3,1.0,0.0,0.0,2022,Arsenal,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4407,38,2018-04-15,16:00,Matchweek 34,Sun,Away,W,1.0,0.0,Manchester Utd,...,Match Report,10.0,4.0,18.1,0.0,0.0,0.0,2017,West Bromwich Albion,1
4408,39,2018-04-21,12:30,Matchweek 35,Sat,Home,D,2.0,2.0,Liverpool,...,Match Report,13.0,6.0,17.7,0.0,0.0,0.0,2017,West Bromwich Albion,0
4409,40,2018-04-28,15:00,Matchweek 36,Sat,Away,W,1.0,0.0,Newcastle Utd,...,Match Report,9.0,2.0,20.1,0.0,0.0,0.0,2017,West Bromwich Albion,1
4410,41,2018-05-05,15:00,Matchweek 37,Sat,Home,W,1.0,0.0,Tottenham,...,Match Report,9.0,1.0,10.2,0.0,0.0,0.0,2017,West Bromwich Albion,1
4411,42,2018-05-13,15:00,Matchweek 38,Sun,Away,L,0.0,2.0,Crystal Palace,...,Match Report,7.0,1.0,24.8,1.0,0.0,0.0,2017,West Bromwich Albion,0

In [9]:
df_kotor[df_kotor["target_home"] == 0][["result", "target_home"]]

     result  target_home
5         L            0
10        D            0
16        D            0
19        L            0
20        D            0
...     ...          ...
4404      L            0
4405      L            0
4406      D            0
4408      D            0
4411      L            0

[2710 rows x 2 columns]

In [10]:
df_kotor["target_away"] = (df_kotor["result"] == "L").astype("int")

In [11]:
df_kotor[df_kotor["result"] == "W" ][["result", "target_home", "target_away"]]

     result  target_home  target_away
0         W            1            0
1         W            1            0
2         W            1            0
3         W            1            0
4         W            1            0
...     ...          ...          ...
4375      W            1            0
4396      W            1            0
4407      W            1            0
4409      W            1            0
4410      W            1            0

[1702 rows x 3 columns]

In [12]:
df_kotor["target_draw"] = (df_kotor["result"] == "D").astype("int")

In [13]:
df_kotor[["result", "target_home", "target_away", "target_draw"]]

     result  target_home  target_away  target_draw
0         W            1            0            0
1         W            1            0            0
2         W            1            0            0
3         W            1            0            0
4         W            1            0            0
...     ...          ...          ...          ...
4407      W            1            0            0
4408      D            0            0            1
4409      W            1            0            0
4410      W            1            0            0
4411      L            0            1            0

[4412 rows x 4 columns]

In [14]:
df_kotor["venue_code"] = df_kotor["venue"].astype("category").cat.codes

In [15]:
df_kotor["venue_code"].unique()

array([0, 1], dtype=int8)

In [16]:
replace_opponent = {
    "Manchester Utd": "Manchester United",
    "Newcastle Utd": "Newcastle",
    "Nott'ham Forest" : "Nottingham Forest"
}

df_kotor["opponent"] = df_kotor["opponent"].replace(replace_opponent)
df_kotor["opponent"].unique()

array(['Crystal Palace', 'Leicester City', 'Bournemouth', 'Fulham',
       'Aston Villa', 'Manchester United', 'Brentford', 'Tottenham',
       'Liverpool', 'Leeds United', 'Southampton', 'Nottingham Forest',
       'Chelsea', 'Wolves', 'West Ham', 'Brighton', 'Newcastle',
       'Everton', 'Manchester City', 'Arsenal', 'Norwich City', 'Burnley',
       'Watford', 'Sheffield Utd', 'West Brom', 'Huddersfield',
       'Cardiff City', 'Stoke City', 'Swansea City'], dtype=object)

In [17]:
replace_team = {
    "Newcastle United": "Newcastle",
    "Brighton and Hove Albion" : "Brighton",
    "Tottenham Hotspur" : "Tottenham",
    "Wolverhampton Wanderers" : "Wolves",
    "West Ham United" : "West Ham"
}

df_kotor["team"] = df_kotor["team"].replace(replace_team)
df_kotor["team"].unique()

array(['Arsenal', 'Manchester City', 'Manchester United', 'Newcastle',
       'Tottenham', 'Aston Villa', 'Brighton', 'Liverpool', 'Brentford',
       'Fulham', 'Chelsea', 'Crystal Palace', 'Wolves', 'Bournemouth',
       'West Ham', 'Leeds United', 'Everton', 'Nottingham Forest',
       'Leicester City', 'Southampton', 'Burnley', 'Watford',
       'Norwich City', 'West Bromwich Albion', 'Sheffield United',
       'Cardiff City', 'Huddersfield Town', 'Swansea City', 'Stoke City'],
      dtype=object)

In [18]:
desired_values = ['Manchester City','Arsenal', 'Manchester United', 'Newcastle', 'Liverpool', 'Brighton',
                  'Aston Villa', 'Tottenham', 'Brentford', 'Fulham', 'Crystal Palace',
                  'Chelsea', 'Wolves', 'West Ham', 'Bournemouth', 'Nottingham Forest',
                  'Everton', 'Leicester City', 'Leeds United', 'Southampton']

df_kotor = df_kotor[df_kotor['team'].isin(desired_values) & df_kotor['opponent'].isin(desired_values)]
df_kotor

,Unnamed: 0,date,time,round,day,venue,result,gf,ga,opponent,...,dist,fk,pk,pkatt,season,team,target_home,target_away,target_draw,venue_code
0,0,2022-08-05,20:00,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,...,14.6,1.0,0.0,0.0,2022,Arsenal,1,0,0,0
1,1,2022-08-13,15:00,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,...,13.0,0.0,0.0,0.0,2022,Arsenal,1,0,0,1
2,2,2022-08-20,17:30,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,...,14.8,0.0,0.0,0.0,2022,Arsenal,1,0,0,0
3,3,2022-08-27,17:30,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,15.5,1.0,0.0,0.0,2022,Arsenal,1,0,0,1
4,4,2022-08-31,19:30,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,16.3,1.0,0.0,0.0,2022,Arsenal,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4292,37,2018-04-14,12:30,Matchweek 34,Sat,Home,L,2.0,3.0,Chelsea,...,15.5,0.0,0.0,0.0,2017,Southampton,0,1,0,1
4293,38,2018-04-19,19:45,Matchweek 35,Thu,Away,D,0.0,0.0,Leicester City,...,18.0,0.0,0.0,0.0,2017,Southampton,0,0,1,0
4294,40,2018-04-28,15:00,Matchweek 36,Sat,Home,W,2.0,1.0,Bournemouth,...,19.4,0.0,0.0,0.0,2017,Southampton,1,0,0,1
4295,41,2018-05-05,17:30,Matchweek 37,Sat,Away,D,1.0,1.0,Everton,...,22.8,2.0,0.0,0.0,2017,Southampton,0,0,1,0
4297,43,2018-05-13,15:00,Matchweek 38,Sun,Home,L,0.0,1.0,Manchester City,...,15.8,0.0,0.0,0.0,2017,Southampton,0,1,0,1

In [19]:
df_kotor["opp_code"] = df_kotor["opponent"].astype("category").cat.codes

C:\Users\wikan\AppData\Local\Temp\ipykernel_676\1035665105.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_kotor["opp_code"] = df_kotor["opponent"].astype("category").cat.codes

In [20]:
df_kotor["opp_code"].unique()

array([ 6, 10,  2,  8,  1, 13,  3, 17, 11,  9, 16, 15,  5, 19, 18,  4, 14,
        7, 12,  0], dtype=int8)

In [21]:
df_kotor["hour"] = df_kotor["time"].str.replace(":.+", "", regex=True).astype("int")

C:\Users\wikan\AppData\Local\Temp\ipykernel_676\265788102.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_kotor["hour"] = df_kotor["time"].str.replace(":.+", "", regex=True).astype("int")

In [22]:
df_kotor["hour"].unique()

array([20, 15, 17, 19, 16, 12, 14, 13, 18])

In [23]:
df_kotor["day_code"] = df_kotor["date"].dt.dayofweek

C:\Users\wikan\AppData\Local\Temp\ipykernel_676\3838460893.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_kotor["day_code"] = df_kotor["date"].dt.dayofweek

In [24]:
df_kotor

,Unnamed: 0,date,time,round,day,venue,result,gf,ga,opponent,...,pkatt,season,team,target_home,target_away,target_draw,venue_code,opp_code,hour,day_code
0,0,2022-08-05,20:00,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,...,0.0,2022,Arsenal,1,0,0,0,6,20,4
1,1,2022-08-13,15:00,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,...,0.0,2022,Arsenal,1,0,0,1,10,15,5
2,2,2022-08-20,17:30,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,...,0.0,2022,Arsenal,1,0,0,0,2,17,5
3,3,2022-08-27,17:30,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,0.0,2022,Arsenal,1,0,0,1,8,17,5
4,4,2022-08-31,19:30,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,0.0,2022,Arsenal,1,0,0,1,1,19,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4292,37,2018-04-14,12:30,Matchweek 34,Sat,Home,L,2.0,3.0,Chelsea,...,0.0,2017,Southampton,0,1,0,1,5,12,5
4293,38,2018-04-19,19:45,Matchweek 35,Thu,Away,D,0.0,0.0,Leicester City,...,0.0,2017,Southampton,0,0,1,0,10,19,3
4294,40,2018-04-28,15:00,Matchweek 36,Sat,Home,W,2.0,1.0,Bournemouth,...,0.0,2017,Southampton,1,0,0,1,2,15,5
4295,41,2018-05-05,17:30,Matchweek 37,Sat,Away,D,1.0,1.0,Everton,...,0.0,2017,Southampton,0,0,1,0,7,17,5
4297,43,2018-05-13,15:00,Matchweek 38,Sun,Home,L,0.0,1.0,Manchester City,...,0.0,2017,Southampton,0,1,0,1,12,15,6

In [25]:
df_kotor[["gf", "ga", "sh", "sot", "dist", "fk", "pk", "pkatt"]]

       gf   ga    sh  sot  dist   fk   pk  pkatt
0     2.0  0.0  10.0  2.0  14.6  1.0  0.0    0.0
1     4.0  2.0  19.0  7.0  13.0  0.0  0.0    0.0
2     3.0  0.0  14.0  6.0  14.8  0.0  0.0    0.0
3     2.0  1.0  22.0  8.0  15.5  1.0  0.0    0.0
4     2.0  1.0  22.0  8.0  16.3  1.0  0.0    0.0
...   ...  ...   ...  ...   ...  ...  ...    ...
4292  2.0  3.0  10.0  7.0  15.5  0.0  0.0    0.0
4293  0.0  0.0   6.0  2.0  18.0  0.0  0.0    0.0
4294  2.0  1.0  14.0  6.0  19.4  0.0  0.0    0.0
4295  1.0  1.0  11.0  5.0  22.8  2.0  0.0    0.0
4297  0.0  1.0   8.0  2.0  15.8  0.0  0.0    0.0

[3024 rows x 8 columns]

In [26]:
grouped_matches = df_kotor.groupby("team")

In [27]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [28]:
group = grouped_matches.get_group("Manchester City").sort_values("date")

In [29]:
cols = ["gf", "ga", "sh", "sot", "dist", "fk", "pk", "pkatt"]
new_cols = [f"{c}_rolling" for c in cols]

rolling_averages(group, cols, new_cols)

,Unnamed: 0,date,time,round,day,venue,result,gf,ga,opponent,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
3655,3,2017-09-09,12:30,Matchweek 4,Sat,Home,W,5.0,0.0,Liverpool,...,12,5,1.666667,0.666667,17.333333,6.000000,18.566667,1.333333,0.000000,0.000000
3657,7,2017-09-23,15:00,Matchweek 6,Sat,Home,W,5.0,0.0,Crystal Palace,...,15,5,2.666667,0.666667,17.000000,8.000000,16.733333,0.666667,0.000000,0.000000
3658,9,2017-09-30,17:30,Matchweek 7,Sat,Away,W,1.0,0.0,Chelsea,...,17,5,4.000000,0.333333,19.000000,9.000000,14.566667,0.333333,0.000000,0.000000
3662,16,2017-11-05,14:15,Matchweek 11,Sun,Home,W,3.0,1.0,Arsenal,...,14,6,3.666667,0.000000,18.333333,8.000000,15.166667,0.333333,0.000000,0.000000
3663,17,2017-11-18,15:00,Matchweek 12,Sat,Away,W,2.0,0.0,Leicester City,...,15,5,3.000000,0.333333,16.666667,6.000000,16.000000,0.333333,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,39,2023-03-04,12:30,Matchweek 26,Sat,Home,W,2.0,0.0,Newcastle,...,12,5,2.666667,1.000000,17.333333,5.333333,15.133333,1.000000,0.000000,0.000000
57,40,2023-03-11,17:30,Matchweek 27,Sat,Away,W,1.0,0.0,Crystal Palace,...,17,5,2.333333,0.666667,18.000000,4.666667,16.366667,1.666667,0.000000,0.000000
58,43,2023-04-01,12:30,Matchweek 29,Sat,Home,W,4.0,1.0,Liverpool,...,12,5,2.333333,0.333333,14.666667,3.666667,16.700000,1.333333,0.333333,0.333333
59,44,2023-04-08,17:30,Matchweek 30,Sat,Away,W,4.0,1.0,Southampton,...,17,5,2.333333,0.333333,13.666667,4.666667,16.433333,1.333333,0.333333,0.333333
60,46,2023-04-15,17:30,Matchweek 31,Sat,Home,W,3.0,1.0,Leicester City,...,17,5,3.000000,0.666667,14.000000,6.000000,15.566667,0.666667,0.666667,0.666667

In [30]:
df_kotor = df_kotor.groupby("team").apply(lambda x: rolling_averages(x, cols, new_cols))

In [31]:
df_kotor

              Unnamed: 0       date   time         round  day venue result  \
team
Arsenal 3846           6 2017-09-17  13:30   Matchweek 5  Sun  Away      D
        3848          10 2017-10-01  12:00   Matchweek 7  Sun  Home      W
        3850          13 2017-10-22  13:30   Matchweek 9  Sun  Away      W
        3852          17 2017-11-05  14:15  Matchweek 11  Sun  Away      L
        3853          18 2017-11-18  12:30  Matchweek 12  Sat  Home      W
...                  ...        ...    ...           ...  ...   ...    ...
Wolves  391           32 2023-03-12  16:30  Matchweek 27  Sun  Away      L
        392           33 2023-03-18  15:00  Matchweek 28  Sat  Home      L
        393           34 2023-04-01  15:00  Matchweek 29  Sat  Away      D
        394           35 2023-04-08  15:00  Matchweek 30  Sat  Home      W
        395           36 2023-04-15  15:00  Matchweek 31  Sat  Home      W

               gf   ga           opponent  ...  hour  day_code  gf_rolling  \
team                                       ...
Arsenal 3846  0.0  0.0            Chelsea  ...    13         6    2.333333
        3848  2.0  0.0           Brighton  ...    12         6    1.000000
        3850  5.0  2.0            Everton  ...    13         6    1.666667
        3852  1.0  3.0    Manchester City  ...    14         6    2.333333
        3853  2.0  0.0          Tottenham  ...    12         5    2.666667
...           ...  ...                ...  ...   ...       ...         ...
Wolves  391   1.0  2.0          Newcastle  ...    16         6    0.666667
        392   2.0  4.0       Leeds United  ...    15         5    0.666667
        393   1.0  1.0  Nottingham Forest  ...    15         5    1.333333
        394   1.0  0.0            Chelsea  ...    15         5    1.333333
        395   2.0  0.0          Brentford  ...    15         5    1.333333

              ga_rolling sh_rolling sot_rolling dist_rolling fk_rolling  \
team
Arsenal 3846    2.333333  17.333333    6.333333    17.300000   0.333333
        3848    1.333333  12.000000    3.666667    16.566667   0.333333
        3850    0.000000  17.666667    6.333333    17.166667   1.000000
        3852    0.666667  22.000000    8.000000    17.500000   1.333333
        3853    1.666667  20.333333    8.333333    18.500000   1.666667
...                  ...        ...         ...          ...        ...
Wolves  391     1.000000   6.666667    2.666667    16.700000   0.000000
        392     1.333333   6.333333    3.333333    17.166667   0.333333
        393     2.000000  12.666667    5.666667    18.866667   0.666667
        394     2.333333  12.666667    4.333333    17.600000   0.666667
        395     1.666667  13.333333    4.333333    19.166667   0.333333

              pk_rolling  pkatt_rolling
team
Arsenal 3846         0.0            0.0
        3848         0.0            0.0
        3850         0.0            0.0
        3852         0.0            0.0
        3853         0.0            0.0
...                  ...            ...
Wolves  391          0.0            0.0
        392          0.0            0.0
        393          0.0            0.0
        394          0.0            0.0
        395          0.0            0.0

[2958 rows x 41 columns]

In [32]:
df_kotor.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 2958 entries, ('Arsenal', 3846) to ('Wolves', 395)
Data columns (total 41 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     2958 non-null   int64
 1   date           2958 non-null   datetime64[ns]
 2   time           2958 non-null   object
 3   round          2958 non-null   object
 4   day            2958 non-null   object
 5   venue          2958 non-null   object
 6   result         2958 non-null   object
 7   gf             2958 non-null   float64
 8   ga             2958 non-null   float64
 9   opponent       2958 non-null   object
 10  xg             2958 non-null   float64
 11  xga            2958 non-null   float64
 12  poss           2958 non-null   float64
 13  attendance     2350 non-null   float64
 14  captain        2958 non-null   object
 15  formation      2958 non-null   object
 16  referee        2958 non-null   object
 17  match report   2958 non-null   object
 18  sh             2958 non-null   float64
 19  sot            2958 non-null   float64
 20  dist           2956 non-null   float64
 21  fk             2958 non-null   float64
 22  pk             2958 non-null   float64
 23  pkatt          2958 non-null   float64
 24  season         2958 non-null   int64
 25  team           2958 non-null   object
 26  target_home    2958 non-null   int32
 27  target_away    2958 non-null   int32
 28  target_draw    2958 non-null   int32
 29  venue_code     2958 non-null   int8
 30  opp_code       2958 non-null   int8
 31  hour           2958 non-null   int32
 32  day_code       2958 non-null   int64
 33  gf_rolling     2958 non-null   float64
 34  ga_rolling     2958 non-null   float64
 35  sh_rolling     2958 non-null   float64
 36  sot_rolling    2958 non-null   float64
 37  dist_rolling   2958 non-null   float64
 38  fk_rolling     2958 non-null   float64
 39  pk_rolling     2958 non-null   float64
 40  pkatt_rolling  2958 non-null   float64
dtypes: datetime64[ns](1), float64(20), int32(4), int64(3), int8(2), object(11)
memory usage: 957.9+ KB

In [33]:
df_kotor = df_kotor.droplevel('team')

In [34]:
df_kotor

,Unnamed: 0,date,time,round,day,venue,result,gf,ga,opponent,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
3846,6,2017-09-17,13:30,Matchweek 5,Sun,Away,D,0.0,0.0,Chelsea,...,13,6,2.333333,2.333333,17.333333,6.333333,17.300000,0.333333,0.0,0.0
3848,10,2017-10-01,12:00,Matchweek 7,Sun,Home,W,2.0,0.0,Brighton,...,12,6,1.000000,1.333333,12.000000,3.666667,16.566667,0.333333,0.0,0.0
3850,13,2017-10-22,13:30,Matchweek 9,Sun,Away,W,5.0,2.0,Everton,...,13,6,1.666667,0.000000,17.666667,6.333333,17.166667,1.000000,0.0,0.0
3852,17,2017-11-05,14:15,Matchweek 11,Sun,Away,L,1.0,3.0,Manchester City,...,14,6,2.333333,0.666667,22.000000,8.000000,17.500000,1.333333,0.0,0.0
3853,18,2017-11-18,12:30,Matchweek 12,Sat,Home,W,2.0,0.0,Tottenham,...,12,5,2.666667,1.666667,20.333333,8.333333,18.500000,1.666667,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,32,2023-03-12,16:30,Matchweek 27,Sun,Away,L,1.0,2.0,Newcastle,...,16,6,0.666667,1.000000,6.666667,2.666667,16.700000,0.000000,0.0,0.0
392,33,2023-03-18,15:00,Matchweek 28,Sat,Home,L,2.0,4.0,Leeds United,...,15,5,0.666667,1.333333,6.333333,3.333333,17.166667,0.333333,0.0,0.0
393,34,2023-04-01,15:00,Matchweek 29,Sat,Away,D,1.0,1.0,Nottingham Forest,...,15,5,1.333333,2.000000,12.666667,5.666667,18.866667,0.666667,0.0,0.0
394,35,2023-04-08,15:00,Matchweek 30,Sat,Home,W,1.0,0.0,Chelsea,...,15,5,1.333333,2.333333,12.666667,4.333333,17.600000,0.666667,0.0,0.0
395,36,2023-04-15,15:00,Matchweek 31,Sat,Home,W,2.0,0.0,Brentford,...,15,5,1.333333,1.666667,13.333333,4.333333,19.166667,0.333333,0.0,0.0

In [35]:
df_kotor.index = range(df_kotor.shape[0])

In [36]:
df_kotor

,Unnamed: 0,date,time,round,day,venue,result,gf,ga,opponent,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
0,6,2017-09-17,13:30,Matchweek 5,Sun,Away,D,0.0,0.0,Chelsea,...,13,6,2.333333,2.333333,17.333333,6.333333,17.300000,0.333333,0.0,0.0
1,10,2017-10-01,12:00,Matchweek 7,Sun,Home,W,2.0,0.0,Brighton,...,12,6,1.000000,1.333333,12.000000,3.666667,16.566667,0.333333,0.0,0.0
2,13,2017-10-22,13:30,Matchweek 9,Sun,Away,W,5.0,2.0,Everton,...,13,6,1.666667,0.000000,17.666667,6.333333,17.166667,1.000000,0.0,0.0
3,17,2017-11-05,14:15,Matchweek 11,Sun,Away,L,1.0,3.0,Manchester City,...,14,6,2.333333,0.666667,22.000000,8.000000,17.500000,1.333333,0.0,0.0
4,18,2017-11-18,12:30,Matchweek 12,Sat,Home,W,2.0,0.0,Tottenham,...,12,5,2.666667,1.666667,20.333333,8.333333,18.500000,1.666667,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2953,32,2023-03-12,16:30,Matchweek 27,Sun,Away,L,1.0,2.0,Newcastle,...,16,6,0.666667,1.000000,6.666667,2.666667,16.700000,0.000000,0.0,0.0
2954,33,2023-03-18,15:00,Matchweek 28,Sat,Home,L,2.0,4.0,Leeds United,...,15,5,0.666667,1.333333,6.333333,3.333333,17.166667,0.333333,0.0,0.0
2955,34,2023-04-01,15:00,Matchweek 29,Sat,Away,D,1.0,1.0,Nottingham Forest,...,15,5,1.333333,2.000000,12.666667,5.666667,18.866667,0.666667,0.0,0.0
2956,35,2023-04-08,15:00,Matchweek 30,Sat,Home,W,1.0,0.0,Chelsea,...,15,5,1.333333,2.333333,12.666667,4.333333,17.600000,0.666667,0.0,0.0
2957,36,2023-04-15,15:00,Matchweek 31,Sat,Home,W,2.0,0.0,Brentford,...,15,5,1.333333,1.666667,13.333333,4.333333,19.166667,0.333333,0.0,0.0

In [38]:
#export data 1
df_kotor.to_csv("../data/data1.csv")

In [42]:
df_kotor.iloc[:,1]

0      2017-09-17
1      2017-10-01
2      2017-10-22
3      2017-11-05
4      2017-11-18
          ...
2953   2023-03-12
2954   2023-03-18
2955   2023-04-01
2956   2023-04-08
2957   2023-04-15
Name: date, Length: 2958, dtype: datetime64[ns]

In [45]:
unik_tim = df_kotor["opponent"].unique()
unik_tim_kode = df_kotor["opp_code"].unique()

dataframe_hasil = pd.DataFrame({"tim": unik_tim, "tim_kode": unik_tim_kode})

                  tim  tim_kode
0             Chelsea         5
1            Brighton         4
2             Everton         7
3     Manchester City        12
4           Tottenham        17
5   Manchester United        13
6         Southampton        16
7            West Ham        18
8           Newcastle        14
9           Liverpool        11
10     Crystal Palace         6
11        Bournemouth         2
12     Leicester City        10
13             Fulham         8
14             Wolves        19
15        Aston Villa         1
16       Leeds United         9
17          Brentford         3
18  Nottingham Forest        15
19            Arsenal         0

In [55]:
newdf = dataframe_hasil.sort_values("tim_kode")
newdf.index = range(newdf.shape[0])
newdf

                  tim  tim_kode
0             Arsenal         0
1         Aston Villa         1
2         Bournemouth         2
3           Brentford         3
4            Brighton         4
5             Chelsea         5
6      Crystal Palace         6
7             Everton         7
8              Fulham         8
9        Leeds United         9
10     Leicester City        10
11          Liverpool        11
12    Manchester City        12
13  Manchester United        13
14          Newcastle        14
15  Nottingham Forest        15
16        Southampton        16
17          Tottenham        17
18           West Ham        18
19             Wolves        19

In [47]:
df_kotor["home_code"] = df_kotor["team"].astype("category").cat.codes

In [50]:
df_tim = df_kotor["team"].unique()
df_code = df_kotor["home_code"].unique()

df_merge = pd.DataFrame({"timnew": df_tim, "tim_kode_new": df_code })
mergeteam = df_merge.sort_values("tim_kode_new")
mergeteam

               timnew  tim_kode_new
0             Arsenal             0
1         Aston Villa             1
2         Bournemouth             2
3           Brentford             3
4            Brighton             4
5             Chelsea             5
6      Crystal Palace             6
7             Everton             7
8              Fulham             8
9        Leeds United             9
10     Leicester City            10
11          Liverpool            11
12    Manchester City            12
13  Manchester United            13
14          Newcastle            14
15  Nottingham Forest            15
16        Southampton            16
17          Tottenham            17
18           West Ham            18
19             Wolves            19

In [56]:
df_merged = pd.merge(newdf, mergeteam, left_index=True, right_index=True)
df_merge

               timnew  tim_kode_new
0             Arsenal             0
1         Aston Villa             1
2         Bournemouth             2
3           Brentford             3
4            Brighton             4
5             Chelsea             5
6      Crystal Palace             6
7             Everton             7
8              Fulham             8
9        Leeds United             9
10     Leicester City            10
11          Liverpool            11
12    Manchester City            12
13  Manchester United            13
14          Newcastle            14
15  Nottingham Forest            15
16        Southampton            16
17          Tottenham            17
18           West Ham            18
19             Wolves            19

In [57]:
df_kotor

,Unnamed: 0,date,time,round,day,venue,result,gf,ga,opponent,...,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling,home_code
0,6,2017-09-17,13:30,Matchweek 5,Sun,Away,D,0.0,0.0,Chelsea,...,6,2.333333,2.333333,17.333333,6.333333,17.300000,0.333333,0.0,0.0,0
1,10,2017-10-01,12:00,Matchweek 7,Sun,Home,W,2.0,0.0,Brighton,...,6,1.000000,1.333333,12.000000,3.666667,16.566667,0.333333,0.0,0.0,0
2,13,2017-10-22,13:30,Matchweek 9,Sun,Away,W,5.0,2.0,Everton,...,6,1.666667,0.000000,17.666667,6.333333,17.166667,1.000000,0.0,0.0,0
3,17,2017-11-05,14:15,Matchweek 11,Sun,Away,L,1.0,3.0,Manchester City,...,6,2.333333,0.666667,22.000000,8.000000,17.500000,1.333333,0.0,0.0,0
4,18,2017-11-18,12:30,Matchweek 12,Sat,Home,W,2.0,0.0,Tottenham,...,5,2.666667,1.666667,20.333333,8.333333,18.500000,1.666667,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2953,32,2023-03-12,16:30,Matchweek 27,Sun,Away,L,1.0,2.0,Newcastle,...,6,0.666667,1.000000,6.666667,2.666667,16.700000,0.000000,0.0,0.0,19
2954,33,2023-03-18,15:00,Matchweek 28,Sat,Home,L,2.0,4.0,Leeds United,...,5,0.666667,1.333333,6.333333,3.333333,17.166667,0.333333,0.0,0.0,19
2955,34,2023-04-01,15:00,Matchweek 29,Sat,Away,D,1.0,1.0,Nottingham Forest,...,5,1.333333,2.000000,12.666667,5.666667,18.866667,0.666667,0.0,0.0,19
2956,35,2023-04-08,15:00,Matchweek 30,Sat,Home,W,1.0,0.0,Chelsea,...,5,1.333333,2.333333,12.666667,4.333333,17.600000,0.666667,0.0,0.0,19
2957,36,2023-04-15,15:00,Matchweek 31,Sat,Home,W,2.0,0.0,Brentford,...,5,1.333333,1.666667,13.333333,4.333333,19.166667,0.333333,0.0,0.0,19

In [58]:
#export kedua
df_kotor.to_csv("../data/data2.csv")